body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 960px;
  height: 640px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}
